<!doctype html>
<html>

<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/estilos.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
    <div class="container-fluid">
    <header>
        <nav class="navbar navbar-light" style="background-color: #292e31;">
            <ul class="nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <img id="logo" src="/uploads/imagenCasa.jpg" />
                        <span id="textotitulo" class="ml-3">Mi Casa</span>  
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/inmuebles">
                        <button class="btn btn-info mr-3">Inmuebles</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nuevo_inmueble">
                        <button class="btn btn-info mr-3">Nuevo Inmueble</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/nuevo_tipo">
                        <button class="btn btn-info mr-3">Nuevo Tipo</button>
                    </a>
                </li>  
            </ul>
            <ul class="nav float-right">
                <li class="nav-item">
                    <a href="#" class="text-white">
                       <span id="idUser"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/registro">
                        <button class="btn btn-warning mr-3">Registro</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/login">
                        <button class="btn btn-warning mr-3">Login</button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="contenido">