<%- include('cabecera'); %>

<h1 class="center m-4">Formulario de Login</h1>
<div id="loginError" class="alert alert-danger">
    Usuario o contraseña incorrectos
</div>

<% if( (typeof error !== "undefined") && error==true ){ %>
    <div id="nuevoError3" class="alert alert-danger">
            <%= mensajeError %>
    </div>
<% }else if(error==false){ %>
    <div id="nuevoOK3" class="alert alert-success">
            Contacto añadido correctamente
    </div>
<% } %>

<!-- <form action="/usuarios/login" enctype="multipart/form-data" method="POST"> -->
    <div class="form-group">
        <label for="login">Escribe tu login de acceso:</label>
        <input type="text" class="form-control" id="login" name="login" />
    </div>
    <div class="form-group">
        <label for="password">Escribe tu password</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <button class="btn btn-secondary" onclick="login()">Enviar</button>
<!-- </form> -->
<%- include('pie'); %>