<%- include('cabecera'); %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger center">
                <h1>ACCESS DENIED</h1>
                <h2>Not authorized</h2>
                <p>
                    You are not authorized, in that page!
                </p>
                <a href="http://localhost:8080/inmuebles" class="btn btn-info btn-lg"> Home </a>
            
            </div>
        </div>
    </div>
</div>
<%- include('pie'); %>