<%- include('cabecera'); %>

<h1 class="center m-4">Formulario de Registro</h1>

<% if( (typeof error !== "undefined") && error==true ){ %>
    <div id="nuevoError4" class="alert alert-danger">
            <%= mensajeError %>
    </div>
<% }else if(error==false){ %>
    <div id="nuevoOK4" class="alert alert-success">
            Contacto añadido correctamente
    </div>
<% } %>

<form action="/usuarios/registro" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="nombre">Escribe tu nombre:</label>
        <input type="text" class="form-control" id="nombre1" name="nombre1" />
    </div>
    <div class="form-group">
        <label for="login">Escribe tu login de acceso:</label>
        <input type="text" class="form-control" id="login1" name="login1" />
    </div>
    <div class="form-group">
        <label for="password">Escribe tu password</label>
        <input type="password" class="form-control" id="password1" name="password1" />
    </div>
    <button class="btn btn-secondary" type="submit">Enviar</button>
</form>
<%- include('pie'); %>